@model List<MainUnavailabilityTb>
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
        <h1 id="title" class="text-center">Add New Unavailability</h1>
        <p id="description" class="description text-center">

        </p>
    </header>
    <div class="text-right">
        <input onkeyup="myFunction()" id="myInput" type="text" name="text" class="search" placeholder="Search here!">

        <button type="button" onclick='window.location.href = "/Unavailability/AddNewUnavailability"' class="btn btn-primary">+Add Unavailabilty</button>
    </div>
    <br />

    <form id="survey-form">


        <div class="row">
            <div class="col-md-12">
                <table class="table badge-light" id="myTable">
                    <thead>
                        <tr>
                            <th>Worker</th>
                            <th>Is All Day?</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Recurrance</th>
                            <th>End Recurrance By</th>
                            <th>Comment</th>
                            <th>Approved</th>

                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Worker</td>
                            <td>@item.Is_all_day</td>
                            <td>@item.Start_time</td>
                            <td>@item.End_time</td>
                            <td>@item.Recurrance</td>
                            <td>@item.End_Recurrance</td>
                            <td>@item.Comment</td>
                            <td>@item.Approved</td>
                            <td>
                                <a asp-controller="Unavailability" asp-action="ViewtUnavailability" asp-route-id="@item.UnavailabilityID">View</a>
                                <a asp-controller="Unavailability" asp-action="UpdateUnavailability" asp-route-id="@item.UnavailabilityID">Update</a>
                                <a asp-controller="Unavailability" asp-action="DeleteUnavailability" asp-route-id="@item.UnavailabilityID">Delete</a>
                            </td>
                        </tr>
                    }


                </table>
            </div>
        </div>

        <script type="text/javascript">
            const projectName = 'survey-form';

        </script>
        @section Scripts{
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>


        }
    </form>


</div>


