
@model List<ApprovedTb>
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="~/css/Addfile.css" rel="stylesheet" />
</head>
<div class="container">
    <header class="header">
       

        <h1 id="title" class="text-center">Show Approved Infomation</h1>
        <p id="description" class="description text-center">

        </p>
    </header>

    <form id="survey-form">
        <div class="form-group">
            <label id="name-label" for="name">Select Participant</label>
            <input type="text"
                   name="name"
                   id="name"
                   class="form-control"
                   placeholder="Enter name"
                   required />
        </div>

        @*Date Start*@
        <label for="dateofbirth"></label>
        <input type="date" name="dateofbirth" id="dateofbirth">
        @*Date Start*@
        <label for="dateofbirth"></label>
        <input type="date" name="dateofbirth" id="dateofbirth">

        @*Hierarchy Start*@
        <div class="form-group">
            <p>Please Select a State</p>
            <select id="dropdown" name="role" class="form-control" required>
                @*<option disabled selected value>Select current role</option>*@
                <option value="student">ACT</option>
                <option value="job">NSW</option>
                <option value="learner">VIC</option>
                <option value="student">QLD</option>
                <option value="job">SA</option>
                <option value="learner">WA</option>
                <option value="job">TAS</option>
                <option value="learner">NTA</option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table badge-light">
                    <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Participants</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@item.Reference</td>
                    <td>@item.Client_name</td>
                    <td>@item.Start_date</td>
                    <td>@item.End_date</td>
                    <td>@item.Service</td>
                    <td>@item.Status</td>
                    <td>
                        @*<a asp-controller="ServiceSchedules" asp-action="ViewApproved" asp-route-id="@item.Reference">View</a>*@
                        <a asp-controller="ServiceSchedules" asp-action="Invoice" asp-route-id="@item.Reference">Invoice</a>
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>

        <script type="text/javascript">
            const projectName = 'survey-form';

        </script>
    </form>



</div>

